<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
	   <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
		  <section name="ywBookStoreLIB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
	   </sectionGroup>
    </configSections>

    <connectionStrings>
        <add name="ywBookStoreLIB.Properties.Settings.ywConnectionString"
            connectionString="Data Source=tfs.cs.uwindsor.ca;Initial Catalog=Agile2422DB25;Persist Security Info=True;User ID=Agile2422UNew;Password=Agile2422UNew$;Encrypt=True;TrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <userSettings>
	   <ywBookStoreLIB.Properties.Settings>
        <setting name="Setting" serializeAs="String">
            <value />
        </setting>
    </ywBookStoreLIB.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>